{% extends 'base.html' %}
{% load staticfiles %}
{% block main_content %}    
	<div class="content">
            <h1 class="h1_book_title">BOOK LISTS</h1>
        	<ul>
				{% for book in bookList %}
            	<li>
                	<dl>
                    	<dd><a href="{% url 'detail' %}?id={{ book.id }}"><img src="{{ book.imageurl }}" alt="book" /></a></dd>
                        <dt>
                        	<p class="book_title"><a href="{% url 'detail' %}?id={{ book.id }}" target="_blank">{{ book.name }}</a></p>
                            <p class="book_inline">by {{ book.author }}</p>
							<p class="book_inline">comment({{ book.comment_set.all.count }})</p>
                            <a class="book_detail" href="{{ book.contenturl }}" target="_blank">READ NOW!</a>
                        </dt>
                    </dl>
                </li>
				{% endfor %}
            </ul>
    </div>
{% include 'pagination.html' %}
{% endblock %}
