{% extends 'base.html' %}
{% load staticfiles %}
{% block custom_css %}
	<link href="{% static 'Css/style.css' %}" rel="stylesheet" type="text/css" media="all" />	
	<link href="{% static 'Css/bootstrap.css' %}css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<script src="{% static 'Js/jquery.min.js' %}"></script>
{% endblock %}
{% block custom_js %}
	<script src="{% static 'Js/jquery.min.js' %}"></script>
{% endblock %}
{% block main_content %}

<div class="single">
	<div class="container">	
		<div class="col-md-8 ">
			<div class=" single-grid">
				<div class="lone-line">
					<a href="#"><img class="img-responsive" src="{{ book.largeimageurl }}" alt="" /></a>
					<h4>{{ book.name }}</h4>
					<div class=" single-profile">
						<h4> Author : {{ book.author }}</ </h4>
					</div>
					
					<div class="like_button">
						{% if isLike %}
							<a href="{% url 'unlike' %}?id={{ book.id }}" rel="" class="search-button">UNLIKE</a>
						{% else %}
							<a href="{% url 'like' %}?id={{ book.id }}" rel="" class="search-button">LIKE</a>
						{% endif %}
						<!--form action="{% url 'like' %}?id={{ book.id }}" method="get" accept-charset="utf-8">
							<input type="submit" value="LIKE" class="search-button" />
						</form-->
					</div>
					
					<div class="cal">
						<ul>
							<li><span class="tutime font-size-18">
							<a href="" rel="category">Categorys : </a>
							{% for category in book.categorys.all %}
								<a href="{% url 'booklist' %}?category={{ category.id }}" rel="category">[{{ category.name }}]</a>
							{% endfor %}
							</span></li>
							<li><span class="tucomment font-size-18">Comments : {{ commentList.count }}</span></li>
						</ul>
					</div>
					<p>{{ book.description }}</p>
					<div class="grid-categories">
						<h4>READ NOW!  <a href="{{ book.contenturl }}" rel="bookmark" title="{{ book.name }}" target="_blank">{{ book.contenturl }}</a></h4>
					</div>
				</div>
				
			</div>
			<div class=" single-profile">
				<h4> Comments </h4>
				<ol class="commentlist">
				{% if commentList.count %}
				{% else %}
					<h2>No comment</h2>
				{% endif %}
				{% for comment in commentList %}
					<li  class="alt" id="{{ comment.id }}}">
						<div class="top"><a href='#' rel='external nofollow' class='url'>
						{% if comment.username %}
							{{ comment.username }}
						{% else %}
							{{ comment.user.username }}
						{% endif %}
						</a><span class="time"> @ <a href="#" title="">{{ comment.attime | date:'Y-m-d H:i:s' }}</a></span></div>
	
						<div class="body">
                            <p>{{ comment.content }}</p>
						</div>
					</li>
          
				{% endfor %}              
				</ol>
			</div>
			<div class="single-bottom">
				<h3>Leave A Comment</h3>
				<form action="{% url 'comment_post' %}" method="post">
					{% csrf_token %}
					<div class="col-md-6 comment">
						{{ comment_form.author }}
					</div>
					<div class="col-md-6 comment">
						{{ comment_form.email }}
					</div>
					<div class="clearfix"> </div>
						{{ comment_form.comment }}
						{{ comment_form.book }}
					<input type="submit" value="Submit">
				</form>
			</div>
		</div>
					
	<div class="clearfix"> </div>	
	</div>
</div>




{% endblock %}